# VIM
vim/*
!vim/rc
!vim/bundle/Vundle.vim
!vim/fortunes

# ZSH
zsh/history
zsh/completions/*
!zsh/completions/zsh-completions
zsh/custom/*
!zsh/custom/petrikoz.zsh-theme

# TMUX
tmux/*
!tmux/conf
!tmux/plugins/tpm

# Ansible
ansible/*
!ansible/config
!ansible/roles/project
