#== VIM
vim/bundle/*
!vim/bundle/Vundle.vim

#== ZSH
zsh/history

#== TMUX
tmux/plugins/*
!tmux/plugins/colors.conf
!tmux/plugins/tpm

#== Ansible
ansible/*
!ansible/config
!ansible/roles/project

#== PIP
pip/*
!pip/reqs.user

#== PSQL
pg/*
!pg/psqlrc

#== Sublime Text

# Package Control
/sublime-text/Package\ Control*
!/sublime-text/Package\ Control.sublime-settings
/sublime-text/Color\ Highlighter*
/sublime-text/**/*.bak
# Anaconda
/sublime-text/PythonTestRunner.last-run
# Themes
/sublime-text/**/*.tmTheme
# GoSublime
/sublime-text/GoSublime*

#== Miscelanous
# KDE Dolphin
**/.directory
