# VIM
vim/*
!vim/rc
!vim/bundle/Vundle.vim
!vim/fortunes

# ZSH
zsh/history

# TMUX
tmux/plugins/*
!tmux/plugins/colors.conf
!tmux/plugins/tpm

# Ansible
ansible/*
!ansible/config
!ansible/roles/project

# PIP
pip/*
!pip/reqs.user

# Postgres
pg/*
!pg/psqlrc
