[submodule "zsh/dircolors-solarized"]
	path = zsh/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
	branch = master
[submodule "zsh/antidote"]
	path = zsh/antidote
	url = https://github.com/mattmc3/antidote
	branch = main
[submodule "vim/pack/plugins/start/nginx.vim"]
	path = vim/pack/plugins/start/nginx.vim
	url = https://github.com/chr4/nginx.vim
[submodule "vim/pack/plugins/start/vim-airline"]
	path = vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
	branch = master
[submodule "vim/pack/plugins/start/vim-airline-themes"]
	path = vim/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
	branch = master
[submodule "vim/pack/plugins/start/supertab"]
	path = vim/pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab
	branch = main
[submodule "vim/pack/plugins/start/nerdtree"]
	path = vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree
	branch = master
[submodule "vim/pack/plugins/start/vim-gitgutter"]
	path = vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
	branch = main
[submodule "vim/pack/plugins/start/editorconfig-vim"]
	path = vim/pack/plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
	branch = master
[submodule "vim/pack/plugins/start/IndexedSearch"]
	path = vim/pack/plugins/start/IndexedSearch
	url = https://github.com/vim-scripts/IndexedSearch
