[Desktop Entry]
Exec=/home/petr/dotfiles/kde/autostart/kdeencfs
Icon=dialog-scripts
Name=kdeencfs
StartupNotify=true
Terminal=false
Type=Application
X-KDE-AutostartScript=true
X-KDE-SubstituteUID=false
